html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* style starts here */
/* ---- typography ----  background ----*/
.level{
  display: flex;
  justify-content: center;
}
body {
  font-family: "Press Start 2P", cursive;
  overflow: hidden;

  font-size: 16px;
  background: url("../img/img/night.jpg") no-repeat center center fixed;
}
.form {
  display: flex;
  align-items: center;
}
#register-name {
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.63);
  padding: 2px 10px;
}
.time {
  font-size: 40px;
  padding: 30px;
}
#username {
  width: 40%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

nav img {
  position: relative;
  height: 90%;
  padding: 0px 10px;
  box-shadow: 20px 18px 12px -2px rgba(0, 0, 0, 0.56);
}
nav {
  height: 10%;
}

#startscreen {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 60px;
  font-size: 5em;
  color: white;
  line-height: 100px;
  text-align: center;
}
.button{
  display: flex;
  flex-direction: column;
align-items: center;
}

button {
  background-color: rgba(175, 76, 158, 0.89);
  border: 2px solid black;
  color: white;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 15px 10px ;
  font-size: x-large;
  box-shadow: 20px 18px 12px -2px rgba(0, 0, 0, 0.56);
  font-family: "Press Start 2P", cursive;
}
button:hover {
  background-color: #4caf50;
  color: white;
}
audio {
  width: 150px;
  height: 30px;
}

/* ---- layout ---- */

html,
body {
  height: 100%;
  text-shadow: 2px 0 rgb(4, 29, 255);
  color: white;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 768px) {
  .container {
    max-width: 98%; /* Resizes the container to 728px for large screens */
    margin: 0 auto;
  }
}
.game .canvas-container {
  background: url("../img/img/night.jpg") bottom center fixed;
  flex: display;
  height: 100%;
}
.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
main {
  background-color: rgba(1, 255, 255, 0.4);

  height: 100%;
  width: 100%;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(36, 35, 35, 0.52);
  padding: 15px;
  box-shadow: 20px 18px 12px -2px rgba(0, 0, 0, 0.56);
}
h2 {
  font-size: 22px;
  margin: 10px;
}
p {
  padding: 20px;
  background-color: rgba(36, 35, 35, 0.52);
}
#scores > p {
  margin: 0 auto;
  text-align: center;
}
#scoretable {
  margin: 0 auto;
}
th {
  color: red;
  font-size: 2em;
}
tr:first-child {
  color: rgb(94, 255, 0);
}
th,
td {
  padding: 5px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #642b2b;
}

.score {
  display: flex;

  margin: 0 auto;
  padding: 10px;
  font-size: 30px;
}
.lives-score {
  padding: 30px;
}
.lives {
  display: flex;

  margin: 0 auto;
  padding: 10px;
  font-size: 30px;
}
.end-game {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 235, 205, 0.548);
}
.game-over {
  margin: 0 auto;
  font-size: 72px;
  padding: 100px;
}

/*

.container {
  margin: 0 20px;
  /* background-image: url(https://wallpaperaccess.com/full/17493.jpg); 
}
*/
